### Creating a list of dictionaries

In [11]:
names = ["Bilal", "Khan"]

bio_data = {"first_name": "Bilal", "last_name": "khan"}

In [22]:
cde_class = [
    {
        "first_name": "bilal",
        "last_name": "khan",
        "address": "karachi"
    },
    {
        "first_name": "basit",
        "last_name": "khan",
        "address": "lahore"
    },
    {
        "first_name": "umar",
        "last_name": "khan",
        "address": "sukkur"
    },
]

In [ ]:
names[0]

'Khan'

In [14]:
cde_class.append({

          "first_name": "umar",
          "last_name": "khan",
          "last_name": "sukkur"

    
})
cde_class

[{'first_name': 'bilal', 'last_name': 'khan', 'address': 'karachi'},
 {'first_name': 'basit', 'last_name': 'lahore'},
 {'first_name': 'umar', 'last_name': 'sukkur'},
 {'first_name': 'umar', 'last_name': 'sukkur'},
 {'first_name': 'umar', 'last_name': 'sukkur'}]

In [16]:
cde_class[0]["first_name"]

'bilal'

### Mini Task
# add another student in the list
# add print all student first names
# add grade for each student and print all the student with A grade

In [17]:
cde_class.append({

          "first_name": "umar",
          "last_name": "khan",
          "last_name": "sukkur"

    
})
cde_class

[{'first_name': 'bilal', 'last_name': 'khan', 'address': 'karachi'},
 {'first_name': 'basit', 'last_name': 'lahore'},
 {'first_name': 'umar', 'last_name': 'sukkur'},
 {'first_name': 'umar', 'last_name': 'sukkur'},
 {'first_name': 'umar', 'last_name': 'sukkur'},
 {'first_name': 'umar', 'last_name': 'sukkur'}]

In [19]:
cde_class[0]["first_name"]

'bilal'

In [25]:
for student in cde_class:
    student["grade"] = "A"
print("All students with grade A:")
for student in cde_class:
    print(student["first_name"], student["last_name"], " ", student["grade"])

All students with grade A:
bilal khan   A
basit khan   A
umar khan   A

In [32]:
for i in cde_class:
    if i["grade"] == "A":
        print(i["first_name"], i["last_name"], i["grade"])

bilal khan A
basit khan A
umar khan A

store = {
       
       "fruits": ["Mango", "Apple", "Banana"],
       "drinks": ["Mango juice", "Apple juice", "Banana juice"]
          

}

In [33]:
store = {
       
       "fruits": ["Mango", "Apple", "Banana"],
       "drinks": ["Mango juice", "Apple juice", "Banana juice"]
          

}

In [34]:
store["fruits"]

['Mango', 'Apple', 'Banana']

In [35]:
store["fruits"][1]

'Apple'

In [37]:
store["Medicine"] = ["flygil", "rizec"]
store

{'fruits': ['Mango', 'Apple', 'Banana'],
 'drinks': ['Mango juice', 'Apple juice', 'Banana juice'],
 'Medicine': ['flygil', 'rizec']}

### Mini Task
- Add orange to fruits
- Add another Category in the dictionary

In [44]:
store ["fruits"].append("banana")
store["fruits"]

['Orange', 'Orange', 'banana']

### Creating a dictionary that contains a dictionary

In [51]:
contacts = {
    "Ali": {"phone": 72641, "email": "ali@gmail.com"},
     "mehmood": {"phone": 726421, "email": "mehmood@gmail.com"}
}

In [60]:
contacts

{'Ali': {'phone': 72641, 'email': 'ali@gmail.com'},
 'mehmood': {'phone': 726421, 'email': 'mehmood@gmail.com'}}

### Mini Task 3
- add a new user 
- print his email
- print all names with their phone number

In [68]:
for i in contacts.keys():
    print(i, contacts[i]['phone'])

Ali 72641
mehmood 726421

### TASK 
# create a dictionary called company with 3 diffrent departments (HR, IT, finance) create a list for each department and store two employe details like name , salary, and experience using a dictionary in each department
 
# - print all employes in IT department
# - add a new employee ;Qasim' with salary 55000 and expirience 1 to HR
# - increase salary of qasim by 10000
# - print all employes who have experience more than 3 years (any department)

In [74]:
# 1) Company dictionary with 3 departments
company = {
    "HR": [
        {"name": "Ali", "salary": 50000, "experience": 3},
        {"name": "Sara", "salary": 55000, "experience": 2}
    ],
    "IT": [
        {"name": "Bilal", "salary": 70000, "experience": 4},
        {"name": "Umar", "salary": 65000, "experience": 3}
    ],
    "Finance": [
        {"name": "Asad", "salary": 60000, "experience": 5},
        {"name": "Hina", "salary": 58000, "experience": 2}
    ]
}

# 2) Print all employees in IT department
print("IT Department Employees:")
for emp in company["IT"]:
    print(emp["name"], "-", "Salary:", emp["salary"], "-", "Experience:", emp["experience"], "years")

# 3) Add a new employee 'Qasim' with salary 55000 and experience 1 to HR
company["HR"].append({"name": "Qasim", "salary": 55000, "experience": 1})

# 4) Increase salary of Qasim by 10000
for emp in company["HR"]:
    if emp["name"] == "Qasim":
        emp["salary"] += 10000

# 5) Print all employees who have experience more than 3 years (any department)
print("\nEmployees with more than 3 years experience:")
for dept, employees in company.items():
    for emp in employees:
        if emp["experience"] > 3:
            print(emp["name"], "-", "Department:", dept, "-", "Experience:", emp["experience"], "years")

IT Department Employees:
Bilal - Salary: 70000 - Experience: 4 years
Umar - Salary: 65000 - Experience: 3 years

Employees with more than 3 years experience:
Bilal - Department: IT - Experience: 4 years
Asad - Department: Finance - Experience: 5 years